server:
  port: 8090

spring:
  application:
    name: api-gateway
  cloud:
    config:
      enabled: false
    consul:
      enabled: false
    gateway:
      routes:
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**
        - id: coupon-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/coupons/**
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**,/api/users/**,/api/user/**
        - id: cart-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/cart/**,/api/wishlist/**
        - id: order-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/orders/**
        - id: address-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/addresses/**
        - id: delivery-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/delivery/**,/api/delivery-agent/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
