services:
  mysql:
    image: mysql:8.0
    container_name: revcart-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product_service_db
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - revcart-network

  redis:
    image: redis:7-alpine
    container_name: revcart-redis
    ports:
      - "6379:6379"
    networks:
      - revcart-network

  mongodb:
    image: mongo:7
    container_name: revcart-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongodb-data:/data/db
    networks:
      - revcart-network

volumes:
  mysql-data:
  mongodb-data:

networks:
  revcart-network:
    driver: bridge
